@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@200;400&display=swap');


html{
 height:100%;
 width: 100%;
 margin:0;
	padding: 0;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
	overflow: scroll;
	cursor: url("cursor_brush.png"), auto;
    overflow-x: hidden;
    z-index: 10;
}

body::-webkit-scrollbar{
	width: 5px;
}
body::-webkit-scrollbar-track {
  background: slategray;
  box-shadow: inset 0 0 5px black;
}
body::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 5px;
  border: 3px black;
}

header{
	width:100vw;
	margin:0px;
	height: 100vh;
    scroll-snap-align: start;
    z-index: 1;
    background-image: url("building background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 52%;
    background-position: top center;
    border: inset gray 10px;
    border-top: 0px;
    box-sizing: border-box;
}

#logoanchor{	
	margin: 0px;
	padding-bottom: 5px;
	width: 100%;
	
	align-content: center;
	justify-content: center;
	display: flex;
	user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   height: 50%;
   z-index: 1;
   position: relative;
}
nav{
	height: 48%;
	width: 100%;
	display: flex;
	margin:0;
	padding: 0;
	z-index: 1;
	border-top:gray groove 10px;
}

#logo{
	user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   margin:auto;
	padding: 0;
	position: absolute;
	top: 2%;
	z-index: 1;
	
}


.link {
  width: 45%;
  text-decoration: none;
  font-size: 50px;
  font-family: 'Foldit', cursive;
  z-index: 1;
  height: 19%;
  -webkit-background-clip: text;
background-color: #0cbaba;
background-image: Radial-gradient(circle, #0cbaba, #380036 74%);


  -webkit-text-fill-color: transparent;
  text-align: center;
  animation: linkpan 10s infinite linear;
  padding-right: 10px;
  margin: 0px;

}

@keyframes linkpan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 158px 0;
  }
}
.cont{
	border-radius: 5%;
}
.cont:hover{
	background-color: #c3cbdc;
  
	transition: 1s;	
}
.cont::before,
.cont::after {
  position: absolute;
  width: 7%;
  height: 7%;
  transition: 0.2s ease-in;
  content: "";
}
.cont:hover::before {
  left: 0;
  top: 0;
  border-radius: 10%;
  border-left: 5px ridge black;
  border-top: 5px ridge black;
 }
 .cont:hover::after {
  right: 0;
  bottom: 0;
   border-radius: 10%;
  border-right: 5px ridge black;
  border-bottom: 5px ridge black;
 }
#cont1{
	width: 25%;
	/* background-color: #fffafa; */

    height: 100%;
	display: flex;
    position: relative;
    margin:0;
	padding: 0;
    
	justify-content: center;
	flex-wrap: wrap;
}   
#cont2{
	width: 25%;
	/* background-color: #fffafa; */ 
 
    height: 100%;
    position: relative;
	display: flex;
   
    margin:0;
	padding: 0;
	
	justify-content: center;
	flex-wrap: wrap;
	
}
#cont3{
	width: 25%;
	/* background-color: #fffafa; */

    height: 100%;
	display: flex;
   position: relative;
    margin:0;
	padding: 0;
    
	justify-content: center;
	flex-wrap: wrap;

}
#cont4{
	width: 25%;
	/* background-color: #fffafa; */

    height: 100%;
	display: flex;
   position: relative;
    margin:0;
	padding: 0;
    
	justify-content: center;
	flex-wrap: wrap;	
}
.window{ 	
width: 80%;
align-self: center;
transition: all 5s ease;
margin: 0;
padding: 0;
position: relative;
top: -10%;
}
.hidden_top{
	position: relative;
	top: -10%;
	transition: 1s ease-out;
	opacity: 0.1;
	filter: blur(10px);
	z-index: -1;
}
.slide_bottom{
	top: 0%;
	opacity: 1;
	filter: blur(0);
	z-index: 1;
	position: relative;
}
.hidden {
  
  filter: blur(0px);
  transition: visibility 0s linear 0.5s;
}

.visible {
  visibility: visible;
  transition: visibility 0s linear 0s;
}

.hidden_rep{
	opacity: 0;
	transition: all 1s linear;
	filter:blur(2px);
	position: relative;
	
}
.hidden_right{
	position: relative;
	right: 5%;
	transition: 0.6s ease-out;
	opacity: 0.1;
	filter: blur(10px);
	z-index: -1;
}
.slide_left{
	position: relative;
	right: 0%;
	opacity: 1;
	filter: blur(0px);

}

.show{
	opacity: 1;
	filter: blur(0px);
    
}

#Home{
	width: 100vw;
	height: 100vh;
	/*background-color: #fffafa; */
  scroll-snap-align: start;
	align-self: center;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: -1;
	border: inset gray 10px;
	box-sizing: border-box;
	overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
}
#About{
	width: 100vw;
	height: 100vh;
	/*background-color: #fffafa; */
  scroll-snap-align: start;
	align-items: center;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: -1;
	border: inset gray 10px;
	box-sizing: border-box;
	flex-direction: column;
	overflow: hidden;
}


.h2sec{
	font-family: 'Foldit', cursive;
	color: black;
  width: 18vw;
  height: 25vh;
  font-size: 80px;
  display: flex;
  margin-top: 5%;
}

#aboutus{
	font-family: 'Poppins', sans-serif;
	width: 80vw;
	height: 80vh;
	position: relative;
 	display: flex;
  overflow: hidden;
  align-items: center;
  margin-bottom: 1%;

}

.titles{
  text-align: center;
	font-size: 48px;
	width: 100%;
	height: 10%;
	scroll-snap-align: start;
	color: #36454F;
	margin-bottom: 75px; 
}
.para{
	width: 100%;
	height: 75%;
	font-size: 16px;
	white-space: pre-wrap;
}
.forwardbutton{
	width: 50px;
	height: 50px;
  background-image: url('arrow forward IOS.png');
  background-position: center center;
  background-color: transparent;
  background-size: cover;
  border: none;
  transition: 0.5s;
  border-radius: 40%;
  float: left;
  margin-left: 50px;
 
}
.prevbutton{
		width: 50px;
	height: 50px;
  background-image: url('arrow Back IOS.png');
  background-position: center center;
  background-color: transparent;
  background-size: cover;
  border: none;
  transition: 0.5s;
  border-radius: 40%;
  float: left;
  margin-right: 50px;

}
.prevbutton:hover,
.forwardbutton:hover{
	background-color: gray;
}
.slide{
   display: none; 
   height: 100%;
   width: 100%;
   transition: all 3s;
   opacity: 0;
}
.slide.active{
display: inline;
opacity: 1;
}
.slide.next{
	display: none;
  float: left;
}
.slide.prev{
	display: none;

}
.flex_row{
	display: flex;
	height: 100vh;
	flex-direction: row;

	align-items: center;
}