@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Wet+Paint&display=swap');
html{
 height:100%;
 width: 100%;
 margin:0;
	padding: 0;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}
body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
	overflow: scroll;
	cursor: url("cursor_brush.png"), auto;
    overflow-x: hidden;
    z-index: 10;
    
 }
header{
	width:100vw;
	margin:0px;
	height: 100vh;
    scroll-snap-align: start;
    z-index: 1;
    background-image: url("building background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 52%;
    background-position: top center;
    border: solid gray 10px;
    border-top: 0px;
    box-sizing: border-box;
}
h1{	

	margin: 0px;
	padding-bottom: 5px;
	width: 100%;
	
	align-content: center;
	justify-content: center;
	display: flex;
	user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   height: 50%;
   z-index: 1;
   position: relative;
   

}
nav{
	height: 48%;
	width: 100%;
	display: flex;
	margin:0;
	padding: 0;
	z-index: 1;
	border-top:gray solid 10px;
}

#logo{
	user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   margin:0;
	padding: 0;
	position: absolute;
	z-index: 1;
	top: 2%;
}
#houseicon{
	user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
	position: absolute;
	margin:0;
	padding: 0;
	z-index: -1;
	left: 50%;
	top: -2%;


}

.link {
  align-self: top;
  width: 45%;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Merienda', cursive;
  z-index: 1;
  height: 19%;
  -webkit-background-clip: text;
background-color: #0cbaba;
background-image: Radial-gradient(circle, #0cbaba, #380036 74%);


  -webkit-text-fill-color: transparent;
  text-align: center;
  animation: linkpan 10s infinite linear;
  padding-right: 10px;
  margin: 0px;

}

@keyframes linkpan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 158px 0;
  }
}
.cont{
	border-radius: 5%;
}
.cont:hover{
	background-color: #c3cbdc;
  
	transition: 1s;	
}
.cont::before,
.cont::after {
  position: absolute;
  width: 7%;
  height: 7%;
  transition: 0.2s ease-in;
  content: "";
}
.cont:hover::before {
  left: 0;
  top: 0;
  border-radius: 10%;
  border-left: 5px solid black;
  border-top: 5px solid black;
 }
 .cont:hover::after {
  right: 0;
  bottom: 0;
   border-radius: 10%;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
 }
#cont1{
	width: 25%;
	/* background-color: #fffafa; */

    height: 100%;
	display: flex;
    position: relative;
    margin:0;
	padding: 0;
    
	justify-content: center;
	flex-wrap: wrap;
}   
#cont2{
	width: 25%;
	/* background-color: #fffafa; */ 
 
    height: 100%;
    position: relative;
	display: flex;
   
    margin:0;
	padding: 0;
	
	justify-content: center;
	flex-wrap: wrap;
	
}
#cont3{
	width: 25%;
	/* background-color: #fffafa; */

    height: 100%;
	display: flex;
   position: relative;
    margin:0;
	padding: 0;
    
	justify-content: center;
	flex-wrap: wrap;

}
#cont4{
	width: 25%;
	/* background-color: #fffafa; */

    height: 100%;
	display: flex;
   position: relative;
    margin:0;
	padding: 0;
    
	justify-content: center;
	flex-wrap: wrap;	
}
.window{ 	
width: 80%;
align-self: center;
transition: all 5s ease;
margin: 0;
padding: 0;
position: relative;
top: -10%;
}
.hidden_top{
	position: relative;
	top: -10%;
	transition: 1s ease-out;
	opacity: 0.1;
	filter: blur(10px);
	z-index: -1;
}
.slide_bottom{
	top: 0%;
	opacity: 1;
	filter: blur(0);
	z-index: 1;
	position: relative;
}

/*bubble1{
background-color: #3bb78f;
background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
	width: 35vw;
	height: 33.3vw;
	
	position: relative;
	left: 35%;
	top: 94%;
	animation: bubble 1000s ease-out infinite;
    z-index: -1;
    filter: blur(4px);

}
@keyframes bubble{
	
} */

.hidden{
	opacity: 0;
	transition: all 1s ease-in;
	filter:blur(2px);
	position: relative;
	
}
.hidden_rep{
	opacity: 0;
	transition: all 1s linear;
	filter:blur(2px);
	position: relative;
	
}
.show{
	opacity: 1;
	filter: blur(0px);
    
}
/* #bubble2{
	background-color: #3bb78f;
background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
	width: 35vw;
	height: 33.3vw;
	
	position: absolute;
    z-index: -1;
    filter: blur(4px);
    animation: secondbub 800s infinite linear;
    top: 28%;
    left: 0%;
}
@keyframes secondbub{
	
}*/
/* #bubble3{
	background-color: #3bb78f;
background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
	width: 35vw;
	height: 33.3vw;
	
	position: absolute;
    z-index: -1;
     filter: blur(4px); 
    
    left: 34%;
    top: 28%;
}*/
#Home{
	width: 100vw;
	height: 100vh;
	/*background-color: #fffafa; */
  scroll-snap-align: start;
	align-self: center;
	display: flex;
	align-content: center;
	
	z-index: -1;
	border: solid gray 10px;
	box-sizing: border-box;
	text-align: left;

}
#About{
	width: 100vw;
	height: 100vh;
	/*background-color: #fffafa; */
  scroll-snap-align: start;
	align-self: center;
	display: flex;
	align-content: center;
	
	z-index: -1;
	border: solid gray 10px;
	box-sizing: border-box;
	text-align: left;
}


body::-webkit-scrollbar{
	width: 5px;
}
body::-webkit-scrollbar-track {
  background: slategray;
  box-shadow: inset 0 0 5px black;
}
body::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 5px;
  border: 3px black;
}
/* #ctn-abt{
	
	align-self: center;
	
	width: 90vw;
	height: 90vh;
	background-color: #4d4855;
background-image: linear-gradient(to bottom, #4d4855 0%, #000000 74%, #4d4855);
    animation: bgpan 12s infinite linear;
	background-size: 200% 100%;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	scroll-behavior: auto;
	overflow: auto;
	scroll-snap-type: y mandatory;
}
@keyframes bgpan{
	0%{
		background-position: 0 0;
      }
    100%{
    	background-position: 0 90vh;

    }
}
/* #ctn-abt::-webkit-scrollbar{
	width: 5px;
}
#ctn-abt::-webkit-scrollbar-track {
  background: slategray;
  box-shadow: inset 0 0 5px black;
}
#ctn-abt::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 5px;
  border: 3px black;
}
#abt{
    height: 81vh;
    width: 100%;
    background-color: #c2eaba;
    align-self: center;
    color: white;
    margin: 20px;
    display: inline;
    scroll-snap-align: end;

} */
.h2sec{
	margin-top: 5%;
	margin-left: 10%;
	font-family: 'Merienda', cursive;
	color: #606463;
  justify-self: right ;	
}

/* #projects{
	width: 100%;
    height: 81vh;
	background-color: #c2eaba;
    align-self: center;
    color: white; 
    margin: 20px;
    display: inline;
    scroll-snap-align: start;
} */









/* #follower{
	position: absolute;
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	background-image: linear-gradient(to right,#fc00ff,#00dbde);
	filter: blur(20px);
	z-index: 0;
} */

