@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@200;400&display=swap');


html{
 height: 100%;
 width: 100%;
 margin:0;
	padding: 0;
	scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
	overflow: scroll;
	cursor: url("cursor_brush.png"), auto;
    overflow-x: hidden ;
    z-index: 10;
    position: absolute;
  }

html::-webkit-scrollbar{
	width: 5px;
}
html::-webkit-scrollbar-track {
  background: slategray;
  box-shadow: inset 0 0 5px black;
}
html::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 5px;
  border: 3px black;
}

#header{
	width:100vw;
	margin:0px;
	height: 100vh;
    scroll-snap-align: end;
    z-index: 2;
    /* background-image: url("building background.jpeg"); */
    background-repeat: no-repeat;
    background-size: 100% 36%;
    background-position: top center;
    border: inset gray 5px;
    border-top: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

#logoanchor{	
	margin: 0px;
	padding-bottom: 5px;
	width: 100%;
	background-color: #380036;
	align-content: center;
	justify-content: center;
	display: flex;
	user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   height: 35%;
   z-index: 1;
   position: relative;
}
#mainnav{
	height: 64.2%;
	width: 100%;
	display: flex;
	margin:0;
	padding: 0;
	z-index: 1;
	border-top:gray groove 5px;
	box-sizing: border-box;
}

#contacticon{
	position: absolute;
	height: 10vh;
	width: 4vw;
	top: 10%;
	right: 8%;
}
#logo{
	user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   margin:auto;
	padding: 0;
	position: absolute;
	top: 0%;
	z-index: 1;
  left: 5%;

	
}


.link {
  width: 45%;
  text-decoration: none;
  font-size: 50px;
  font-family: 'Foldit', cursive;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 40px;
  height: 19%;
  -webkit-background-clip: text;
background-color: #0cbaba;
background-image: Radial-gradient(circle, #0cbaba, #380036 74%);


  -webkit-text-fill-color: transparent;
  text-align: center;
  animation: linkpan 5s infinite linear;
  padding-right: 10px;
  margin: 0px;

}

@keyframes linkpan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 158px 0;
  }
}
.cont{
	border-radius: 5%;
}
.cont:hover{
	background-color: #c3cbdc;
  
	transition: 1s;	
}
.cont::before,
.cont::after {
position: absolute;
width: 7%;
height: 7%;
transition: 0.2s ease-in;
content: "";
}
.cont:hover::before {
left: 0;
top: 0;
border-radius: 10%;
border-left: 5px ridge black;
border-top: 5px ridge black;
}
.cont:hover::after {
right: 0;
bottom: 0;
border-radius: 10%;
border-right: 5px ridge black;
border-bottom: 5px ridge black;
}
#cont1{
	width: 25%;
	/* background-color: #fffafa; */

    height: 100%;
	display: flex;
    position: relative;
    margin:0;
	padding: 0;
    
	justify-content: center;
	flex-wrap: wrap;
}   
#cont2{
	width: 25%;
	/* background-color: #fffafa; */ 
 
    height: 100%;
    position: relative;
	display: flex;
   
    margin:0;
	padding: 0;
	
	justify-content: center;
	flex-wrap: wrap;
	
}
#cont3{
	width: 25%;
	/* background-color: #fffafa; */

    height: 100%;
	display: flex;
   position: relative;
    margin:0;
	padding: 0;
    
	justify-content: center;
	flex-wrap: wrap;

}
#cont4{
	width: 25%;
	/* background-color: #fffafa; */

    height: 100%;
	display: flex;
   position: relative;
    margin:0;
	padding: 0;
    
	justify-content: center;
	flex-wrap: wrap;	
}
.window{ 	
width: 70%;
height: 60%;
align-self: center;
transition: all 5s ease;
margin: 0;
padding: 0;
position: relative;
top: -10%;
}
.hidden_top{
	position: relative;
	top: -10%;
	transition: 1s ease-out;
	opacity: 0.1;
	filter: blur(10px);
	z-index: -1;
}
.slide_bottom{
	top: 0%;
	opacity: 1;
	filter: blur(0);
	z-index: 1;
	position: relative;
}

.hidden_right{
	position: relative;
	right: 5%;
	transition: 0.6s ease-out;
	opacity: 0.1;
	filter: blur(10px);
	z-index: -1;

}
.slide_left{
	position: relative;
	right: 0%;
	opacity: 1;
	filter: blur(0px);

}   

#home{
	width: 100vw;
	height: 100vh;
	/*background-color: #fffafa; */
  scroll-snap-align: end;
		display: flex;

	align-items: center;
	z-index: -1;
	border: inset gray 5px;
	box-sizing: border-box;
	overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
}
#About{
	width: 100vw;
	height: 100vh;
	/*background-color: #fffafa; */
  scroll-snap-align: end;
	align-items: center;
	display: flex;	
	z-index: -1;
	border: inset gray 5px;
	box-sizing: border-box;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}
.aboutsec{
	width: 100vw;
	height: 100vh;
	/*background-color: #fffafa; */
  scroll-snap-align: end;
	align-items: center;
	display: flex;	
	z-index: -1;
	border: inset gray 5px;
	box-sizing: border-box;
	flex-direction: column;
	overflow: auto;
	position: relative;
	scroll-snap-type: y mandatory;
}
.slidecont{
height: 100vh;
width: 85vw;  
}

.h2sec{
	font-family: 'Foldit', cursive;
	color: black;
  font-size: 80px; 
  animation: h2secpan 60s infinite linear;
  -webkit-background-clip: text;
background-color: #0cbaba;
background-image: Radial-gradient(circle, #0cbaba, #380036 74%);
background-size: 100% 100%;
box-sizing: border-box;
height: 12.5vh;
margin-top: 1%;
  -webkit-text-fill-color: transparent;
  text-align: center;


}
@keyframes h2secpan{
	0% {
		background-position: 0 0;
	}
	100%{
		background-position: 238px 0;
	}
}

.titles{
  text-align: center;
	font-size: 48px;
	color: #36454F;
	font-family: 'poppins', cursive;
  height: 19vh;
  position: relative;
  bottom: 5%;
	left: 4%;
}
#aboutlogo{
	position: absolute;
	width: 16vw;
	height: 16vh;
  top: 28%;
  margin: 0px;
  right: 68%;
  background-image: linear-gradient(55deg, #380036 65%, transparent 90%, #380036 98%);
  border-radius: 10%;
  border: groove 5px black;
  transition: 2s;
  z-index: 1;
}
#aboutlogo:hover{
 
	background-color: #380036;
  cursor: pointer;
}
.about_title{
	left: 15%;
}
.home_text{
	position: relative;
	top: 1%;
  left: 44%;
  font-family: 'poppins', cursive;
  font-size: 118%;
  color: slategray;
  font-weight: bold;
  text-align: right;

}
.para{	
		font-size: 24px;
	white-space: pre-wrap;
	font-family: 'poppins', cursive;
  text-align: center;
   margin: auto;
   width: 85%;
   position: relative;
   left: 4%;
   bottom: 6%;
}

.flex_row{
	display: flex;
	height: 100vh;
	flex-direction: row;

	align-items: center;
}
.forwardbutton{
	
	width: 4vw;
	height: 10vh;
  background-image: url('arrow forward IOS.png');
  background-position: 0 0;
  background-color: transparent;
  background-size: cover;
  border: none;
  transition: 0.5s;
  border-radius: 40%; 
  align-self: center;
  margin: auto;
  position: relative;
  right: 20%;
  border: groove 5px darkcyan;
  background-color: lightblue;
}
.prevbutton{
		width: 4vw;
	height: 10vh;
  background-image: url('arrow Back IOS.png');
  background-position: -100% 0;
  background-color: transparent;
  background-size: cover;
  border: none;
  transition: 0.5s;
  border-radius: 40%;
   align-self: center;
  margin: auto;
  position: relative;
  left: 20%;
  border: groove 5px darkcyan;
  background-color: lightblue;
}
.prevbutton:hover,
.forwardbutton:hover{
	background-color: darkslategray;
	cursor: pointer;
	border: groove 5px cyan;
	
}
.slide{
   display: none; 
   height: 100%;  
   width: 100%;
   transition: all 3s;
   
}
.slide.active{
display: flex
opacity: 1;
}
.slide.next{
	display: none;
  
}
.slide.prev{
	display: none;
}

.circle{
	height: 3.9vh;
	width: 3.9vh;
	border-radius: 50%;
	background-color: #aa5864;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: -1;
}
.sidebar{
	height: 100vh;
	width: 6vw;
	background-color: slategray;  
	position: fixed;
	top:1;
	transition: 200ms ease;
  border-right: 5px;
  border-top: 5px;
  border-bottom: 5px;
  border-left: 5px;
  border-color: gray;
  	border-radius: 2px;
	border-style: inset;
/*	border-top: 10px; 
	border-bottom: 10px;

	border-left: 0px; */
	display: inline-block;
	box-sizing: border-box;
  left: -4.5%;  opacity: 1;
  transition: 0.6s;
/*	padding: 4px; */	
}
.sidebar:hover{
	opacity: 1;
left: 0%;

}
.sidebarlink{
	width: 100%;
	height: 12%;
	margin-top: 4px;
	display: inline-block;
/*	border: 0.5px gray ridge; */
	overflow: hidden;
	border-radius: 0%;
	box-sizing: border-box;
	background-image: linear-gradient(40deg, slategray 10%, transparent 50%, slategray 95%);
	transition: 700ms ease-out;
}	
.sidebarlink:hover{
	background-color: #9999ff;
}
.hidenav{
	display: none;

}
 